@{
    ViewBag.Title = "Home Page";
}

<h2>List of Products</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>


    @foreach (var p in Model)
    {
        <tr>
            <td>@p.ProductId</td>
            <td>@p.ProuductName</td>
        </tr>
     
    }
    
</table>