
@{
    ViewBag.Title = "User Information";
}

<h2>User Index</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>


    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UserId</td>
            <td>@u.UserName</td>
        </tr>

    }

</table>
@*@Html.ActionLink("Go to Another View", "ActionName", "ControllerName", null, new { @class = "btn btn-primary" })*@

@Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Create User", "Create", "User", null, new { @class = "btn btn-primary" })



